<div class="center">
    <div class="card">
        <div class="cardHeader">
            <p>Create Post</p>
        </div>
        <form class="center gap" id="blogForm">
            <label>Random Title:</label>
            <input id="title" type="text"/>
            <label>Random Comment:</label>
            <input id="content" type="text">
            <button type="submit">Create</button>
            <a class="instead" href="/">Go Back &#8617</a>
        </form>
    </div>
</div>

<script src="/js/create.js"></script>