<div class="center">
    <div class="card">
        <div class="cardHeader">
            <p>Sign Up</p>
        </div>
        <form class="center gap" id="signupForm">
            <label>Username</label>
            <input id="usernameSignup" type="text"/>
            <label>Email</label>
            <input id="emailSignup" type="text"/>
            <label>Password</label>
            <input  id="passwordSignup" type="password">
            <button type="submit">Sign Up</button>
            <a class="instead" href="/login">Login instead</a>
            <a class="instead" href="/">Go Back &#8617</a>
        </form>
    </div>
</div>

<script src="/js/signup.js" ></script>